/* preloader */
.overlay-loader{position:fixed;width:100%;height:100%;top:0;left:0;background:#fff;z-index:99999999}.loader{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:288px;height:288px;animation-name:rotateAnim;-o-animation-name:rotateAnim;-ms-animation-name:rotateAnim;-webkit-animation-name:rotateAnim;-moz-animation-name:rotateAnim;animation-duration:.35s;-o-animation-duration:.35s;-ms-animation-duration:.35s;-webkit-animation-duration:.35s;-moz-animation-duration:.35s;animation-iteration-count:infinite;-o-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;animation-timing-function:linear;-o-animation-timing-function:linear;-ms-animation-timing-function:linear;-webkit-animation-timing-function:linear;-moz-animation-timing-function:linear}.loader .load{width:23px;height:23px;border-radius:50%;border:3px solid #000;position:absolute;top:6px;left:0;right:0;bottom:0;margin:auto}.loader .load:nth-child(odd){border-top:none;border-left:none}.loader .load:nth-child(even){border-bottom:none;border-right:none}.loader .load:nth-child(2){border-width:6px;left:0;top:-12px;width:35px;height:35px}.loader .load:nth-child(3){border-width:6px;left:-3px;top:9px;width:52px;height:52px}.loader .load:nth-child(4){border-width:9px;left:-3px;top:-12px;width:69px;height:69px}.loader .load:nth-child(5){border-width:9px;left:-3px;top:12px;width:92px;height:92px}.loader .load:nth-child(6){border-width:12px;left:0;top:-12px;width:115px;height:115px}.loader .load:nth-child(7){border-width:12px;left:0;top:17px;width:144px;height:144px}@keyframes rotateAnim{from{transform:rotate(360deg)}to{transform:rotate(0deg)}}@-o-keyframes rotateAnim{from{-o-transform:rotate(360deg)}to{-o-transform:rotate(0deg)}}@-ms-keyframes rotateAnim{from{-ms-transform:rotate(360deg)}to{-ms-transform:rotate(0deg)}}@-webkit-keyframes rotateAnim{from{-webkit-transform:rotate(360deg)}to{-webkit-transform:rotate(0deg)}}@-moz-keyframes rotateAnim{from{-moz-transform:rotate(360deg)}to{-moz-transform:rotate(0deg)}}

#progress{border-radius: 0px 0px 10px 0px; height:10px; background:#000;position:fixed;top:86px;left:0;z-index:9999999;animation:scrollPro 4s linear infinite}@keyframes scrollPro{0%{background:#FF8066}10%{background:#00C9A7}20%{background:#2E126D}30%{background:#FF6F91}40%{background:#af9bf7}50%{background:#cc0eb3}60%{background:#c91111}70%{background: #00C9A7}80%{background:#C34A36}90%{background:#af9bf7}100%{background:#d35400}}

/* back to top */

#back_to_top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #000;
    border-radius: 20%;
    display: none;
}

#back_to_top i {
    line-height: 40px;
    color: #ffffff;
}

/* header css goes here */


#header {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.stickyMenu {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    width: 100% !important;
    z-index: 999999;
    background: #000;
    padding: 10px 0;
    animation: bg 1s;
    transition: 0.5s ease-in-out;
}

@keyframes bg {
    from {
        left: 100%;
        border-radius: 100%;
    }

    to {
        left: 0;
        border-radius: 0;
    }
}

#header nav {
    display: flex;
    justify-content: space-between;
}



#header nav .logo {
    margin-top: 28px;
}

#header nav ul {
    display: flex;
}

#header nav li {}

#header nav li a {
    text-align: end;
    padding: 33px 0 12px;
    margin: 0 25px;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all linear 0.3s;
}

#header nav li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

/* banner area css goes here */

.banner_area {
    background: #eb01a5;
    background-image: url(../images/bg-image.png);
    background-image: -moz-linear-gradient(90deg, rgba(156, 132, 44, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../images/bg-image.png);
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../images/bg-image.png);
    background-image: -ms-linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../images/bg-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_area .text_area {
    padding: 235px 0 230px;
    text-align: center;
}

.banner_area .text_area h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 25px;
}

.banner_area .text_area h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 50px;
    margin-bottom: 57px;
}

.banner_area .text_area a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 30px;
    border: 3px solid #ffffff;
    margin-top: 50px;
    transition: all linear 0.3s;
}

.banner_area .text_area a:hover {
    background: #ffffff;
    color: #fce38a;
}

/* what_we_do css goes here */
.what_we_do {
    padding-top: 80px;
}

.story {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 114px;

}

.story .card {
    width: 370px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.story .card img {
    width: 100%;
    height: 100%;
}

.story .card .effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: -moz-linear-gradient(90deg, rgba(156, 132, 44, 0.95) 0%, rgba(243, 129, 129, 0.95) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.95) 0%, rgba(243, 129, 129, 0.95) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(252, 227, 138, 0.95) 0%, rgba(243, 129, 129, 0.95) 100%);
    transform: translateY(100%);
    transition: all linear 0.3s;
}

.story .card .effect img {
    width: 33px;
    height: 23px;
    margin-bottom: 5px;
}

.story .card .effect h5 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.story .card:hover .effect {
    transform: translateY(0%);
}

/* achievement css goes here */
.achievement {
    background: #95e1d3;
    padding: 70px 0 90px;
}

.achievement .main {
    display: flex;
}

.achievement .number {
    width: 20%;
    text-align: center;
}

.achievement .number h3 {
    font-size: 72px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.achievement .number h6 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

/* services css goes here */

.services {
    padding-top: 110px;
}

.services .all_card {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .all_card .sm_card {
    width: 370px;
    display: flex;
    margin-bottom: 95px;
}

.services .all_card .sm_card .icon {
    width: 70px;
}

.services .all_card .sm_card .icon i {
    text-align: center;
    font-size: 25px;
    color: #95e1d3;
}

.services .all_card .sm_card .des {}

.services .all_card .sm_card .des h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 5px;
}

.services .all_card .sm_card .des p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-weight: 400;
}

/* review css goes here */

.review {
    background: #f8f8f8;
    padding: 70px 0;
}

.review .all_slider {
    position: relative;
}

.review .all_slider .slide {
    width: 1030px;
    margin: 0 auto;
    display: flex;
}

.review .all_slider .slide .icon {}

.review .all_slider .slide .icon i {
    font-size: 60px;
    color: #95e1d3;
    padding: 40px;
    border: 3px solid #95e1d3;
}

.review .all_slider .slide .desc {
    padding-left: 60px;
}

.review .all_slider .slide .desc p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.review .all_slider .slide .desc .sign {
    display: flex;
    margin-top: 8px;
}

.review .all_slider .slide .desc .sign .line {
    height: 3px;
    width: 60px;
    background: #f38181;
    margin-top: 19px;
}

.review .all_slider .slide .desc .sign h6 {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    margin-left: 10px;
}

.review .all_slider .slider_button {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}

.review .all_slider .slider_button a {
    color: #999999;
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.review .all_slider .slider_button a:hover {
    color: #dbcf22;
    background: #000000d0;
}

/* team css goes here */
.team {
    padding-top: 92px;
}

.team .all_members {
    padding: 95px 0 0;
    display: flex;
    justify-content: space-between;
}

.team .all_members .member {
    width: 370px;
    position: relative;
}

.team .all_members .member .image {
    position: relative;
    height: 470px;
    overflow: hidden;
}

.team .all_members .member .image img {
    width: 100%;
    height: 100%;
}

.team .all_members .member .effect {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(90deg, rgba(156, 132, 44, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s ease-in-out;
    border-radius: 100%;
}

.team .all_members .member:hover .effect {
    transform: scale(1);
    border-radius: 0;
    left: 0;
}

.team .all_members .member .effect ul {
    display: flex;
}

.team .all_members .member .effect ul li {}

.team .all_members .member .effect ul li a i {
    font-size: 30px;
    width: 57px;
    height: 57px;
    background: #fce38a;
    text-align: center;
    line-height: 57px;
    margin-left: 1px;
    color: #f38181;
    transition: 0.5s ease-in-out;
}

.team .all_members .member .effect ul li a:hover i {
    background: #f38181;
    color: #ffffff;
}

.team .all_members .member .desc {
    text-align: center;
    margin-top: 36px;
}

.team .all_members .member .desc h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 5px;
}

.team .all_members .member .desc h5 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
    font-size: 15px;
    font-weight: 300;
}

/* simpleWork css goes here */

.simpleWork {
    padding-top: 95px;
}

.simpleWork .images {
    display: flex;
    padding: 100px 0;
}

.simpleWork .images .fullSize {
    width: 25%;
    position: relative;
}

.simpleWork .images .fullSize img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}

.simpleWork .images .fullSize .sWimage {
    position: relative;
    overflow: hidden;
}

.simpleWork .images .fullSize .sWimage .effect {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
    background-image: -moz-linear-gradient(90deg, rgba(156, 132, 44, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(252, 227, 138, 0.85) 0%, rgba(243, 129, 129, 0.85) 100%);
}

.simpleWork .images .fullSize .sWimage .effect i {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 15px;
}

.simpleWork .images .fullSize .sWimage .effect h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 9px;
    text-transform: uppercase;
}

.simpleWork .images .fullSize .sWimage .effect h4 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.simpleWork .images .fullSize .sWimage:hover .effect {
    top: 0;
    border-radius: 0;
}

/* footer css goes here */

footer {
    background: #f8f8f8;
    padding: 70px 0 40px;
}

.footer {
    display: flex;
}

footer .col-1 {
    width: 470px;
    padding-right: 30px;
}

footer .col-1 .logo {
    margin-bottom: 35px;
}

footer .col-1 p {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

footer .col-1 a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
}

footer .col-1 a span {
    font-weight: 700;
    font-size: 18px;
}

.line {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}

footer .col-1 .links {
    margin-top: 15px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #999999;
    margin-bottom: 22px;
}

footer .col-1 .links ul {
    display: flex;
    margin-left: 13px;
}

footer .col-1 .links ul li {}

footer .col-1 .links ul li a {
    padding: 0 7.5px;
    color: #95e1d3;
}

footer .col-1 form {}

footer .col-1 form input {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding: 9px 13px;
    border: 1px solid #cccccc;
    width: 231px;
    border-right: 0;
}

footer .col-1 form input:focus {
    border: 1px solid #585858;
    outline: none;
    border-right: 0;
    background: #ffffff;
}

footer .col-1 form input::placeholder {
    color: #cccccc;
}

footer .col-1 form button {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    background: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 8.9px 34px;
    margin-left: -4px;
}

footer .col-2 {
    width: 370px;
}

footer .col-2 .all_blogs {}

footer .col-2 .all_blogs .blog {
    display: flex;
    height: 80px;
    align-items: center;
    margin-bottom: 30px;
}

footer .col-2 .all_blogs .blog .b_image {
    width: 159px;
    height: 80px;
}

footer .col-2 .all_blogs .blog .b_image img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}

footer .col-2 .all_blogs .blog .desc {
    padding-left: 20px;
}

footer .col-2 .all_blogs .blog .desc p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 1px;
}

footer .col-2 .all_blogs .blog .desc span {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    color: #999999;
}

footer .col-3 .insta_img {
    width: 270px;
}

footer .col-3 .insta_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col-3 .insta_img img {
    width: 88px;
    height: 88px;
    overflow: hidden;
    margin-bottom: 3px;
}

footer .col-3 a {
    font-size: 13px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}

footer .title {
    margin-bottom: 40px;

}

footer .title h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

/* coyright css goes here */

.coyright {
    text-align: center;
    background: #f8f8f8;
}

.coyright p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
}

.coyright p span {
    color: #f38181;
}