/* header css goes here */

#header {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#header nav {
    display: flex;
    justify-content: space-between;
}

#header nav .logo {
    margin-top: 28px;
}

#header nav ul {
    display: flex;
}

#header nav li {}

#header nav li a {
    text-align: end;
    padding: 33px 0 12px;
    margin: 0 25px;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all linear 0.3s;
}

#header nav li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

/* banner area css goes here */

.banner_area {
    background-image: url(../images/bg-image.png);
    background-size: cover;
    background-position: center;
}

.banner_area .text_area {
    padding: 235px 0 230px;
    text-align: center;
}

.banner_area .text_area h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 25px;
}

.banner_area .text_area h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 50px;
    margin-bottom: 57px;
}

.banner_area .text_area a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 30px;
    border: 3px solid #ffffff;
    margin-top: 50px;
    transition: all linear 0.3s;
}

.banner_area .text_area a:hover {
    background: #ffffff;
    color: #fce38a;
}

/* what_we_do css goes here */
.story {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 114px;
}

.story .card {
    width: 370px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.story .card img {
    width: 100%;
    height: 100%;
}

.story .card .effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: -moz-linear-gradient(90deg, rgba(156, 132, 44, 0.95) 0%, rgba(243, 129, 129,0.95) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138,0.95) 0%, rgba(243, 129, 129,0.95) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(252, 227, 138,0.95) 0%, rgba(243, 129, 129,0.95) 100%);
    transform: translateY(100%);
    transition: all linear 0.3s;
}

.story .card .effect img {
    width: 33px;
    height: 23px;
    margin-bottom: 5px;
}

.story .card .effect h5 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.story .card:hover .effect{
    transform: translateY(0%);
}
/* achievement css goes here */
.achievement{
    background: #99cccc;
    padding: 70px 0 90px;
}
.achievement .main{
    display: flex;
}
.achievement .number{
    width: 20%;
    text-align: center;
}
.achievement .number h3{
    font-size: 72px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.achievement .number h6{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}
/* achievement css goes here */
/* achievement css goes here */
/* achievement css goes here */
/* header css goes here */